body{
	background: #FFF8DC;
}

.titulo{
	color: white;
	font-size: 1,5em;
	text-align: center;
}
 li{
	list-style-type: none;
		text-align: center;
		display: inline-block;
		height: 40px;

		

}
ul{

	float: right;
	font-size: 1.5em;

	
}
.redes{
	width: 5em;
	height: 5em;
	position: all;
	 
	
}
.logredes{
	color: black;
	font-size: 0.5em
}
.boton{
    background-color: orange;
    -webkit-text-decoration: none;
    -webkit-text-decoration: none;
     text-decoration: none;
    font-size: 2em;
    color: white;
    border-radius: 0px 20px 0px 20px;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    width: 150px;    
    margin: 2px;
    padding: 3px;
}
.boton:hover{
    background-color:gray;
    border:5px solid lightyellow;
    
}
 li a{
	color: white;
	background: gray;
	
	font-variant: verdana,arial;
	font-size: 1.5em;
	
	text-decoration: none;


}
.redes:hover{
	width: 4.5em; 
	height: 4.5em;
}
li a:hover{
	color: red;
	display: inline;
	background-color: black;

}
fieldset img{
	float: left;

	
}
form{
	float: left;
	width: 35%;
	font-size: 1.5em;

}
#submit{
	width: 6em;
	height: 4em;
	font-size: 0.5em;
	color: darkblue;
	font-family: verdana,arial;

}
footer figure{
	float: right;
	color: 	#DAA520;
	font-family: verdana,arial;
}
footer a{
         color: #191970;
}
footer{
       background-color:#FFFFE0;	
       color: 	#191970; 
       width: 100%;
       clear: both;
}
#dir{
	float: right;
}
#map{
	float: left;

}
mark { 
    background-color: yellow;
    color: black;
}
 #headp{
              display:block;
              width:100%;
            
        }
#headm{
		display: none;
	}



@media (max-width: 800px){

	#headp{
		display: none;
	}

        #headm{
              display:block;
              width:100%;
            
        }
       #map{
        flex-wrap: wrap;
}
        iframe{
             width: 90%;
}        
}	
	
